body {
	font-family:Calibri, Arial;
	color:#094a93;
	margin-top: 0px;
}
.table {
	border:solid 1px #094a93;
}
.tablehead {
	font-weight:bold;
	font-size:12px;
	text-align:center;
}
.tablecont {
	font-size:12px;
	text-align:center;
}
.default {
	font-size:12px;
}
.logo{
	width:150px;
	height:auto;
}
.imgkarya {
	width:100px;
	height:auto;
}

/* Print panel */
.panel {
	width:16%;
	height: 100%;
	float:right;
	background: #e4e4e5 url('../images/spacer_invoice.png');
	background-repeat:repeat-y;
}
.menucontainer {
	padding:15px;
}
.menucontainer a {
	text-decoration:none;
}
.menucontainer ul {
	line-height:20px;
	padding-left:15px;
}
.printbutton {
	display:block;
	background:url('../images/print_preview_button.png');
	width:150px;
	height:30px;
	text-align:center;
	padding:0px;
	margin:auto;
}