body {
	font-family:Calibri, Arial;
	color:#094a93;
}
.table {
	border:solid 1px #094a93;
}
.tablehead {
	font-weight:bold;
	font-size:12px;
	text-align:center;
}
.tablecont {
	font-size:12px;
	text-align:center;
}
.default {
	font-size:12px;
}
.logo{
	width:150px;
	height:auto;
}
.imgkarya {
	width:100px;
	height:auto;
}
.print {
	display:block;
	width:auto;
	height:30px;
	border:solid 1px #094a93;
	text-align:center;
	padding:4px;
}